# General Dependencies
# Ignore node_modules in ANY subfolder
**/node_modules

# Build Output
/frontend/dist/

# Secrets & Environment Files (CRITICAL)
**/.env
**/.env.local
**/.env.*.local

# Terraform State & Plugins (CRITICAL)
# This rule is now simpler because terraform is a top-level folder
/terraform/.terraform/
/terraform/*.tfstate
/terraform/*.tfstate.backup
*.tfvars

# Prisma local DB files & Generated Client
/backend/prisma/dev.db
/backend/prisma/dev.db-journal
/backend/src/generated/prisma

# OS & IDE Junk Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*