
.env
.env.local


*.tfstate
*.tfstate.backup


node_modules/




prisma/dev.db
prisma/dev.db-journal

.vscode/
.idea/
.DS_Store
Thumbs.db


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


/src/generated/prisma